src/com.mftvanak.edusys.ui.desktop.win.apps/EduSysApps/ServiceClients/Web References/PersonWebReference/types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:Q1="http://personnel.ws.edusys.mftvanak.com/schemas/types" elementFormDefault="qualified" targetNamespace="http://personnel.ws.edusys.mftvanak.com/schemas/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="PersianName" type="xs:string" />
      <xs:element name="EnglishName" type="xs:string" />
      <xs:element name="PersianFamily" type="xs:string" />
      <xs:element name="EnglishFamily" type="xs:string" />
      <xs:element name="Gender" type="xs:int" />
      <xs:element name="FatherName" type="xs:string" />
      <xs:element name="ShSh" type="xs:string" />
      <xs:element name="ShLocation" type="xs:string" />
      <xs:element name="NationalCode" type="xs:string" />
      <xs:element name="DateOfBirth" type="xs:long" />
      <xs:element name="Phone1" type="xs:string" />
      <xs:element name="Phone2" type="xs:string" />
      <xs:element name="Phone3" type="xs:string" />
      <xs:element name="Email1" type="xs:string" />
      <xs:element name="Email2" type="xs:string" />
      <xs:element name="WebUrl1" type="xs:string" />
      <xs:element name="WebUrl2" type="xs:string" />
      <xs:element name="Address1" type="xs:string" />
      <xs:element name="Address2" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>