src/edusys/mftvanak-services/web/wsdl/gheyas-staff.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://gheyas.ws.edusys.mftvanak.com/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gheyas.ws.edusys.mftvanak.com/schemas" targetNamespace="http://gheyas.ws.edusys.mftvanak.com/schemas">
    <wsdl:types>
        <xs:schema xmlns:Q1="http://gheyas.ws.edusys.mftvanak.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gheyas.ws.edusys.mftvanak.com/schemas">

            <xs:complexType name="GheyasTermType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GheyasClassGroupType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GheyasClassType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="TeacherTarafHesabCode" type="xs:string"/>
                    <xs:element name="TeacherName" type="xs:string"/>
                    <xs:element name="TeacherFamily" type="xs:string"/>
                    <xs:element name="TeacherPhone1" type="xs:string"/>
                    <xs:element name="TeacherPhone2" type="xs:string"/>
                    <xs:element name="TeacherEmail" type="xs:string"/>
                    <xs:element name="Description" type="xs:string"/>
                    <xs:element name="ActiveDays" type="xs:string"/>
                    <xs:element name="StartDate" type="xs:string"/>
                    <xs:element name="EndDate" type="xs:string"/>
                    <xs:element name="NumberOfStudents" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GheyasStudentType">
                <xs:sequence>
                    <xs:element name="KaramuzCode" type="xs:string"/>
                    <xs:element name="TarafHesabCode" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Family" type="xs:string"/>
                    <xs:element name="BirthDate" type="xs:string"/>
                    <xs:element name="Address" type="xs:string"/>
                    <xs:element name="Phone" type="xs:string"/>
                    <xs:element name="EmergencyPhone" type="xs:string"/>
                    <xs:element name="Email" type="xs:string"/>
                    <xs:element name="Paid" type="xs:string"/>
                    <xs:element name="Payment" type="xs:string"/>
                    <xs:element name="PaymentDate" type="xs:string"/>
                    <xs:element name="PaymentDiscount" type="xs:string"/>
                    <xs:element name="Description" type="xs:string"/>
                    <xs:element name="Reshteh" type="xs:string"/>
                    <xs:element name="Daneshgah" type="xs:string"/>
                    <xs:element name="ClassCode" type="xs:string"/>
                    <xs:element name="ClassName" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GheyasDebtorType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Family" type="xs:string"/>
                    <xs:element name="Phone1" type="xs:string"/>
                    <xs:element name="Phone2" type="xs:string"/>
                    <xs:element name="Email" type="xs:string"/>
                    <xs:element name="Address" type="xs:string"/>
                    <xs:element name="ShouldPay" type="xs:string"/>
                    <xs:element name="Paid" type="xs:string"/>
                    <xs:element name="Discount" type="xs:string"/>
                    <xs:element name="Debt" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="GetTermsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetTermsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasGroups" type="Q1:GheyasTermType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetGroupsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasGroups" type="Q1:GheyasClassGroupType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetClassesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                        <xs:element name="GroupCodes" type="xs:string"/>
                        <xs:element name="TermCodes" type="xs:string"/>
                        <xs:element name="ClassNamePattern" type="xs:string"/>
                        <xs:element name="ClassName" type="xs:string"/>
                        <xs:element name="ClassCode" type="xs:long"/>
                        <xs:element name="ShowAll" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetClassesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasClasses" type="Q1:GheyasClassType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetStudentsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                        <xs:element name="ClassCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetStudentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasStudents" type="Q1:GheyasStudentType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SearchStudentsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Family" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SearchStudentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasStudents" type="Q1:GheyasStudentType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetDebtorsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetDebtorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasDebtors" type="Q1:GheyasDebtorType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UpdateStudentDaneshgahFieldRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="InstituteId" type="xs:int"/>
                        <xs:element name="KaramuzCode" type="xs:string"/>
                        <xs:element name="DaneshaghFieldNewValue" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UpdateStudentDaneshgahFieldResponse">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetCommonClassesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ClientDateTimeYear" type="xs:int"/>
                        <xs:element name="ClientDateTimeMonth" type="xs:int"/>
                        <xs:element name="ClientDateTimeDay" type="xs:int"/>
                        <xs:element name="ClientDateTimeHour" type="xs:int"/>
                        <xs:element name="ClientDateTimeMinute" type="xs:int"/>
                        <xs:element name="ClientDateTimeSecond" type="xs:int"/>
                        <xs:element name="ClientDateTimeMilliSecond" type="xs:int"/>
                        <xs:element name="ClientMacAddress" type="xs:string"/>
                        <xs:element name="ClientIpAddress" type="xs:string"/>
                        <xs:element name="ClientComputerName" type="xs:string"/>
                        <xs:element name="ApplicationName" type="xs:string"/>
                        <xs:element name="Token" type="xs:string"/>
                        <xs:element name="GroupCodes" type="xs:string"/>
                        <xs:element name="TermCodes" type="xs:string"/>
                        <xs:element name="ShowAll" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetCommonClassesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="GheyasClasses" type="Q1:GheyasClassType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetCommonClassesResponse">
        <wsdl:part element="tns:GetCommonClassesResponse" name="GetCommonClassesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetGroupsResponse">
        <wsdl:part element="tns:GetGroupsResponse" name="GetGroupsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDebtorsRequest">
        <wsdl:part element="tns:GetDebtorsRequest" name="GetDebtorsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetClassesRequest">
        <wsdl:part element="tns:GetClassesRequest" name="GetClassesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SearchStudentsRequest">
        <wsdl:part element="tns:SearchStudentsRequest" name="SearchStudentsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetGroupsRequest">
        <wsdl:part element="tns:GetGroupsRequest" name="GetGroupsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentsRequest">
        <wsdl:part element="tns:GetStudentsRequest" name="GetStudentsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentDaneshgahFieldResponse">
        <wsdl:part element="tns:UpdateStudentDaneshgahFieldResponse" name="UpdateStudentDaneshgahFieldResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetTermsRequest">
        <wsdl:part element="tns:GetTermsRequest" name="GetTermsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCommonClassesRequest">
        <wsdl:part element="tns:GetCommonClassesRequest" name="GetCommonClassesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDebtorsResponse">
        <wsdl:part element="tns:GetDebtorsResponse" name="GetDebtorsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentsResponse">
        <wsdl:part element="tns:GetStudentsResponse" name="GetStudentsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetTermsResponse">
        <wsdl:part element="tns:GetTermsResponse" name="GetTermsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentDaneshgahFieldRequest">
        <wsdl:part element="tns:UpdateStudentDaneshgahFieldRequest" name="UpdateStudentDaneshgahFieldRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SearchStudentsResponse">
        <wsdl:part element="tns:SearchStudentsResponse" name="SearchStudentsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetClassesResponse">
        <wsdl:part element="tns:GetClassesResponse" name="GetClassesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Gheyas">
        <wsdl:operation name="GetCommonClasses">
            <wsdl:input message="tns:GetCommonClassesRequest" name="GetCommonClassesRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetCommonClassesResponse" name="GetCommonClassesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <wsdl:input message="tns:GetGroupsRequest" name="GetGroupsRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetGroupsResponse" name="GetGroupsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtors">
            <wsdl:input message="tns:GetDebtorsRequest" name="GetDebtorsRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetDebtorsResponse" name="GetDebtorsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetClasses">
            <wsdl:input message="tns:GetClassesRequest" name="GetClassesRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetClassesResponse" name="GetClassesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchStudents">
            <wsdl:input message="tns:SearchStudentsRequest" name="SearchStudentsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SearchStudentsResponse" name="SearchStudentsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudents">
            <wsdl:input message="tns:GetStudentsRequest" name="GetStudentsRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetStudentsResponse" name="GetStudentsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudentDaneshgahField">
            <wsdl:input message="tns:UpdateStudentDaneshgahFieldRequest" name="UpdateStudentDaneshgahFieldRequest">
            </wsdl:input>
            <wsdl:output message="tns:UpdateStudentDaneshgahFieldResponse" name="UpdateStudentDaneshgahFieldResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTerms">
            <wsdl:input message="tns:GetTermsRequest" name="GetTermsRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetTermsResponse" name="GetTermsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GheyasSoap11" type="tns:Gheyas">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCommonClasses">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetCommonClassesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCommonClassesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetGroups">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetGroupsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetGroupsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDebtors">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetDebtorsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDebtorsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetClasses">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetClassesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetClassesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchStudents">
            <soap:operation soapAction=""/>
            <wsdl:input name="SearchStudentsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchStudentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudents">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetStudentsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetStudentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudentDaneshgahField">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateStudentDaneshgahFieldRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateStudentDaneshgahFieldResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTerms">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetTermsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetTermsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GheyasService">
        <wsdl:port binding="tns:GheyasSoap11" name="GheyasSoap11">
            <soap:address location="http://edusys.mftvanak.com:8090/com.mftvanak.edusys.ws.gheyas-0.0.1-SNAPSHOT/gheyas/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>