src/edusys/mftvanak-services/web/wsdl/xsd0.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://10.10.2.37:8090/airports?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesAPI"/><xs:element name="FindAirportsNearThePoint"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="latitude" type="xs:double"/><xs:element minOccurs="0" name="longitude" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="FindAirportsNearThePointResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="FindAirportsNearThePointResult" nillable="true" type="q1:ArrayOfAnswerAirport" xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesAPI"/></xs:sequence></xs:complexType></xs:element></xs:schema>
