src/edusys/mftvanak-services/web/wsdl/xsd2.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesAPI"><xs:complexType name="ArrayOfAnswerAirport"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerAirport" nillable="true" type="tns:AnswerAirport"/></xs:sequence></xs:complexType><xs:element name="ArrayOfAnswerAirport" nillable="true" type="tns:ArrayOfAnswerAirport"/><xs:complexType name="AnswerAirport"><xs:sequence><xs:element minOccurs="0" name="DistanceFromSearchPoint" type="xs:double"/><xs:element minOccurs="0" name="TargetAirport" nillable="true" type="tns:Airport"/></xs:sequence></xs:complexType><xs:element name="AnswerAirport" nillable="true" type="tns:AnswerAirport"/><xs:complexType name="Airport"><xs:sequence><xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Latitude" type="xs:double"/><xs:element minOccurs="0" name="Longitude" type="xs:double"/></xs:sequence></xs:complexType><xs:element name="Airport" nillable="true" type="tns:Airport"/></xs:schema>
