old-src/org.labcrypto.edusys.ws.gheyas/src/main/resources/gheyas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://gheyas.ws.edusys.labcrypto.org/schemas"
	xmlns:Q1="http://gheyas.ws.edusys.labcrypto.org/schemas">

	<xs:complexType name="GheyasTermType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" />
			<xs:element name="Name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GheyasClassGroupType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" />
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GheyasClassType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" />
			<xs:element name="Name" type="xs:string" />
			<xs:element name="TeacherTarafHesabCode" type="xs:string" />
			<xs:element name="TeacherName" type="xs:string" />
			<xs:element name="TeacherFamily" type="xs:string" />
			<xs:element name="TeacherPhone1" type="xs:string" />
			<xs:element name="TeacherPhone2" type="xs:string" />
			<xs:element name="TeacherEmail" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
			<xs:element name="ActiveDays" type="xs:string" />
			<xs:element name="StartDate" type="xs:string" />
			<xs:element name="EndDate" type="xs:string" />
			<xs:element name="NumberOfStudents" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GheyasStudentType">
		<xs:sequence>
			<xs:element name="KaramuzCode" type="xs:string" />
			<xs:element name="TarafHesabCode" type="xs:string" />
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Family" type="xs:string" />
			<xs:element name="BirthDate" type="xs:string" />
			<xs:element name="Address" type="xs:string" />
			<xs:element name="Phone" type="xs:string" />
			<xs:element name="EmergencyPhone" type="xs:string" />
			<xs:element name="Email" type="xs:string" />
			<xs:element name="Paid" type="xs:string" />
			<xs:element name="Payment" type="xs:string" />
			<xs:element name="PaymentDate" type="xs:string" />
			<xs:element name="PaymentDiscount" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
			<xs:element name="Reshteh" type="xs:string" />
			<xs:element name="Daneshgah" type="xs:string" />
			<xs:element name="ClassCode" type="xs:string" />
			<xs:element name="ClassName" type="xs:string" />
			<xs:element name="State" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GheyasDebtorType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" />
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Family" type="xs:string" />
			<xs:element name="Phone1" type="xs:string" />
			<xs:element name="Phone2" type="xs:string" />
			<xs:element name="Email" type="xs:string" />
			<xs:element name="Address" type="xs:string" />
			<xs:element name="ShouldPay" type="xs:string" />
			<xs:element name="Paid" type="xs:string" />
			<xs:element name="Discount" type="xs:string" />
			<xs:element name="Debt" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="GetTermsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetTermsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasGroups"
					type="Q1:GheyasTermType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetGroupsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetGroupsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasGroups"
					type="Q1:GheyasClassGroupType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetClassesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
				<xs:element name="GroupCodes" type="xs:string" />
				<xs:element name="TermCodes" type="xs:string" />
				<xs:element name="ClassNamePattern" type="xs:string" />
				<xs:element name="ClassName" type="xs:string" />
				<xs:element name="ClassCode" type="xs:long" />
				<xs:element name="ShowAll" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetClassesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasClasses"
					type="Q1:GheyasClassType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetStudentsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
				<xs:element name="ClassCode" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetStudentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasStudents"
					type="Q1:GheyasStudentType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SearchStudentsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Family" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SearchStudentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasStudents"
					type="Q1:GheyasStudentType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDebtorsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDebtorsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasDebtors"
					type="Q1:GheyasDebtorType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateStudentDaneshgahFieldRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="InstituteId" type="xs:int" />
				<xs:element name="KaramuzCode" type="xs:string" />
				<xs:element name="DaneshaghFieldNewValue" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateStudentDaneshgahFieldResponse">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCommonClassesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientDateTimeYear" type="xs:int" />
				<xs:element name="ClientDateTimeMonth" type="xs:int" />
				<xs:element name="ClientDateTimeDay" type="xs:int" />
				<xs:element name="ClientDateTimeHour" type="xs:int" />
				<xs:element name="ClientDateTimeMinute" type="xs:int" />
				<xs:element name="ClientDateTimeSecond" type="xs:int" />
				<xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
				<xs:element name="ClientMacAddress" type="xs:string" />
				<xs:element name="ClientIpAddress" type="xs:string" />
				<xs:element name="ClientComputerName" type="xs:string" />
				<xs:element name="ApplicationName" type="xs:string" />
				<xs:element name="Token" type="xs:string" />
				<xs:element name="GroupCodes" type="xs:string" />
				<xs:element name="TermCodes" type="xs:string" />
				<xs:element name="ShowAll" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCommonClassesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="GheyasClasses"
					type="Q1:GheyasClassType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>