oldest-src/com.mftvanak.edusys.ui.desktop.win.apps/EduSysApps/ServiceClients/Web References/EmployeeWebReference/types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:Q1="http://official.ws.edusys.mftvanak.com/schemas/types" elementFormDefault="qualified" targetNamespace="http://official.ws.edusys.mftvanak.com/schemas/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element name="PersonId" type="xs:long" />
      <xs:element name="EmployeeNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeeSummaryType">
    <xs:sequence>
      <xs:element name="PersonId" type="xs:long" />
      <xs:element name="EmployeeNumber" type="xs:string" />
      <xs:element name="PersianFullName" type="xs:string" />
      <xs:element name="EnglishFullName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>