src/com.mftvanak.edusys.ui.desktop.win.phonebook/PhoneBook/PhoneBook/Web References/UserWebReference/types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:Q1="http://membership.ws.edusys.mftvanak.com/schemas/types" elementFormDefault="qualified" targetNamespace="http://membership.ws.edusys.mftvanak.com/schemas/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserType">
    <xs:all>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="PersonId" type="xs:string" />
      <xs:element name="Active" type="xs:int" />
      <xs:element name="Email" type="xs:string" />
      <xs:element name="Username" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="RoleType">
    <xs:all>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="NodeId" type="xs:string" />
      <xs:element name="Name" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TokenType">
    <xs:all>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="NodeId" type="xs:string" />
      <xs:element name="UserId" type="xs:string" />
      <xs:element name="Active" type="xs:int" />
      <xs:element name="DeactivityMaximumDurationInMinutes" type="xs:int" />
      <xs:element name="ExpireDate" type="xs:long" />
      <xs:element name="LastAccessDate" type="xs:long" />
      <xs:element name="SubmitDate" type="xs:long" />
      <xs:element name="TokenType" type="xs:string" />
      <xs:element name="Value" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:all>
  </xs:complexType>
</xs:schema>