com.mftvanak.edusys.ui.desktop.win.apps/EduSysApps/ServiceClients/Web References/RoleWebReference/role.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://membership.ws.edusys.mftvanak.com/schemas" xmlns:tns="http://membership.ws.edusys.mftvanak.com/schemas" targetNamespace="http://membership.ws.edusys.mftvanak.com/schemas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:pref="http://membership.ws.edusys.mftvanak.com/schemas/types" elementFormDefault="qualified" targetNamespace="http://membership.ws.edusys.mftvanak.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="types.xsd" namespace="http://membership.ws.edusys.mftvanak.com/schemas/types" />
      <xs:element name="AddRoleRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
            <xs:element name="Role" type="pref:RoleType" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddRoleResponse">
        <xs:complexType>
          <xs:all>
            <xs:element name="RoleId" type="xs:long" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateRoleRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
            <xs:element name="Role" type="pref:RoleType" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateRoleResponse">
        <xs:complexType>
          <xs:all />
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteRoleRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
            <xs:element name="RoleId" type="xs:long" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteRoleResponse">
        <xs:complexType>
          <xs:all />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRolesRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRolesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Roles" type="pref:RoleType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRoleByIdRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
            <xs:element name="RoleId" type="xs:long" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRoleByIdResponse">
        <xs:complexType>
          <xs:all>
            <xs:element name="Role" type="pref:RoleType" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRoleByNameRequest">
        <xs:complexType>
          <xs:all>
            <xs:element name="ClientDateTimeYear" type="xs:int" />
            <xs:element name="ClientDateTimeMonth" type="xs:int" />
            <xs:element name="ClientDateTimeDay" type="xs:int" />
            <xs:element name="ClientDateTimeHour" type="xs:int" />
            <xs:element name="ClientDateTimeMinute" type="xs:int" />
            <xs:element name="ClientDateTimeSecond" type="xs:int" />
            <xs:element name="ClientDateTimeMilliSecond" type="xs:int" />
            <xs:element name="ClientMacAddress" type="xs:string" />
            <xs:element name="ClientIpAddress" type="xs:string" />
            <xs:element name="ClientComputerName" type="xs:string" />
            <xs:element name="ApplicationName" type="xs:string" />
            <xs:element name="Token" type="xs:string" />
            <xs:element name="Name" type="xs:string" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRoleByNameResponse">
        <xs:complexType>
          <xs:all>
            <xs:element name="Role" type="pref:RoleType" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetRoleByIdResponse">
    <wsdl:part name="GetRoleByIdResponse" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleByIdRequest">
    <wsdl:part name="GetRoleByIdRequest" element="tns:GetRoleByIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetRoleByNameResponse">
    <wsdl:part name="GetRoleByNameResponse" element="tns:GetRoleByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleByNameRequest">
    <wsdl:part name="GetRoleByNameRequest" element="tns:GetRoleByNameRequest" />
  </wsdl:message>
  <wsdl:message name="GetRolesResponse">
    <wsdl:part name="GetRolesResponse" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRoleResponse">
    <wsdl:part name="UpdateRoleResponse" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoleResponse">
    <wsdl:part name="AddRoleResponse" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleRequest">
    <wsdl:part name="DeleteRoleRequest" element="tns:DeleteRoleRequest" />
  </wsdl:message>
  <wsdl:message name="GetRolesRequest">
    <wsdl:part name="GetRolesRequest" element="tns:GetRolesRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateRoleRequest">
    <wsdl:part name="UpdateRoleRequest" element="tns:UpdateRoleRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteRoleResponse">
    <wsdl:part name="DeleteRoleResponse" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoleRequest">
    <wsdl:part name="AddRoleRequest" element="tns:AddRoleRequest" />
  </wsdl:message>
  <wsdl:portType name="Role">
    <wsdl:operation name="GetRoleById">
      <wsdl:input name="GetRoleByIdRequest" message="tns:GetRoleByIdRequest" />
      <wsdl:output name="GetRoleByIdResponse" message="tns:GetRoleByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleByName">
      <wsdl:input name="GetRoleByNameRequest" message="tns:GetRoleByNameRequest" />
      <wsdl:output name="GetRoleByNameResponse" message="tns:GetRoleByNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input name="GetRolesRequest" message="tns:GetRolesRequest" />
      <wsdl:output name="GetRolesResponse" message="tns:GetRolesResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input name="UpdateRoleRequest" message="tns:UpdateRoleRequest" />
      <wsdl:output name="UpdateRoleResponse" message="tns:UpdateRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input name="AddRoleRequest" message="tns:AddRoleRequest" />
      <wsdl:output name="AddRoleResponse" message="tns:AddRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input name="DeleteRoleRequest" message="tns:DeleteRoleRequest" />
      <wsdl:output name="DeleteRoleResponse" message="tns:DeleteRoleResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleSoap11" type="tns:Role">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRoleByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRoleByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleByName">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRoleByNameRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRoleByNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRolesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRolesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateRoleRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateRoleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="" />
      <wsdl:input name="AddRoleRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddRoleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteRoleRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteRoleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="RoleSoap11" binding="tns:RoleSoap11">
      <soap:address location="http://91.98.134.248:8090/com.mftvanak.edusys.ws.membership-0.0.1-SNAPSHOT/role/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>